/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Scope+One&display=swap');
@import url('comp');

/*Fonte & Background*/
body {
	background-color: #E2C044;
	font-family: 'Scope One', serif;
	color: white;
}

/*Margem da página*/
.container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-bottom: 4em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e8e8e8;
  border-radius: 13px;
  border: 1px solid #E2C044;
}


.vinyl {
	width: 25vw;
	position: absolute;
  z-index: 1;
}

/*.stand {
  position: absolute;
  margin-left: 90px;
  z-index: 0;
  margin-top: 90px;
}*/

.player {
  align-self: center;
}


.button {
  color: #999999;
  padding: 13px 45px;
  border-radius: 30px;
  font-weight: bolder;
  opacity: 0.8;
  text-decoration: none;
  background-color: #DDDD;
}

.button:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
  border: 1px solid #999999;
}

