/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Scope+One&display=swap');

/*Interface Components*/
@import url('style/button.css');
@import url('style/shadow.css');
@import url('style/vinyl.css');
@import url('style/texture.css');
@import url('style/slider.css');
@import url('style/player.css');

/*Fonte & Background*/
body {
	
	font-family: 'Scope One', serif;
	color: white;
}

/*Margem da página*/
.container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-bottom: 4em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20vh;
  background-color: #8b4367;
  border-radius: 13px;
  border-right: 10vw solid #8b4367;
}

/*.stand {
  position: absolute;
  margin-left: 90px;
  z-index: 0;
  margin-top: 90px;
}*/

.player {
  align-self: center;
}

 .inner-border {
  box-shadow: inset 0px 7px 8px 8px #453b3be0;
  box-sizing: border-box; /* Include padding and border in element's width and height */
}